.searchbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8%;
  background-color: black;
  color: blanchedalmond;
  border: 1px solid black;
  border-bottom: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

#searchbar-text {
  font-size: 26px;
  margin-right: 10px;
  color: rgb(255, 255, 255);
}

#count-of-goals {
  font-size: 22px;
  color: rgb(255, 255, 255);
}

#cero-goals {
  font-size: 20px;
  color: rgb(255, 255, 255);
}
